<link rel="stylesheet" href="/style.css">
<style>
  label{
    text-align: left;
  }
</style>
<div class="upload-container">
  <h1>Upload Image</h1>

  <form action="/images/upload" method="POST" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" name="title" required>

    <label for="description">Description:</label>
    <textarea name="description" rows="4" required></textarea>

    <label for="image">Choose Image:</label>
    <input type="file" name="image" required>

    <button type="submit">Upload</button>
  </form>

  <a href="/" class="back-link">Back to Home</a>
</div>
